<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo"><img src="../../static/images/Quadgen_Logo.png" alt="Quadgen_Logo" srcset="" ></div>
   <ul class="links">
    <li><a href="/admin">&nbsp; Home &nbsp;<span></span></a></li>
       <li><a href="/admin/Users">&nbsp;Users &nbsp;<span></span></a></li>
       <li><a href="/admin/Customers">&nbsp;Customers &nbsp;<span></span></a></li>
       <li><a href="/admin/Jobs">&nbsp;Jobs &nbsp;<span></i></span></a></li>
       <li><a href="/admin/Checklist">&nbsp;Checklist &nbsp;<span></i></span></a></li>
       <li><a href="/logout">&nbsp;Log out &nbsp;<span></span></a></li>
    </ul>
   <label for="nav-toggle" class="icon-burger">
       <div class="line"></div>
       <div class="line"></div>
       <div class="line"></div>
   </label>
</nav>
<label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>