<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo"><img src="../../static/images/Quadgen_Logo.png" alt="Quadgen_Logo" srcset="" ></div>
    <div class="d-flex justify-content-center fs-1 align-baseline">OSP QC-Portal</div>
   <ul class="links">
       <!-- <li><a href="/"><span><i class="bi bi-house-fill"></i></span>&nbsp; Home</a></li> -->
   </ul>
   <label for="nav-toggle" class="icon-burger">
       <div class="line"></div>
       <div class="line"></div>
       <div class="line"></div>
   </label>
</nav>
<label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>