<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="d-flex justify-content-between align-items-center">
    <div class="logo">
        <img src="../../static/images/Quadgen_Logo.png" alt="Quadgen_Logo" srcset="">
    </div>
    <div class="d-flex fs-3 "><%= title %></div>
    <ul class="links d-flex align-items-end">
        <li><a href="/root">&nbsp; Home &nbsp;<span></span></a></li>
        <li><a href="/root/Users">&nbsp;Users &nbsp;<span></span></a></li>
        <li><a href="/root/Customers">&nbsp;Customers &nbsp;<span></span></a></li>
        <li><a href="/root/Jobs">&nbsp;Jobs &nbsp;<span></i></span></a></li>
        <li><a href="/ChangePassword">&nbsp;Change Password &nbsp;<span></i></span></a></li>
        <li><a href="/logout" id="logoutbtn">&nbsp;Log out &nbsp;<span></span></a></li>
    </ul>
    </div>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
<label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</label>