<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home
    </title>
    <%- include('../partials/dependencies') %>
</head>

<body>
    <header>
        <%- include('../partials/engineer-header') %>
    </header>
    <main class="main_container d-flex justify-content-center">
        <% if (Object.values(Data).length>0) { %>
            <% for( let index=0; index < Object.values(Data).length; index++ ) { %>
                <a href="/Engineer/QC/<%= Data[index].Checklist_Name %>">
                    <div class="localcard m-4">
                       <h3> <%= Data[index].Checklist_Name %></h3>
                    </div>
                </a>
                <%}%>
                    <%}else{%>

                        <p>NO QC</p>
                        <%}%>
    </main>
</body>

</html>